---
import Sidebar from "@/components/WikiNavigation.astro";
import MainLayout from "@/layouts/MainLayout.astro";
import type { GetStaticPaths } from "astro";
import type { CollectionKey } from "astro:content";
import { type CollectionEntry, getCollection } from "astro:content";

export const getStaticPaths = (async () => {
  const wiki = await getCollection("wiki");
  return wiki.map((entry) => ({
    params: {
      category: entry.data.category,
      slug: entry.slug,
    },
    props: { entry, wiki },
  }));
}) satisfies GetStaticPaths;

const { entry } = Astro.props;
const { Content } = await entry.render();
type Props = {
  entry: CollectionEntry<"wiki">;
};
---

<MainLayout>
  <Fragment slot="body-content">
    <div class="prose-sm m-4 lg:p-20 bg-cu-primary/75 p-4 lg:mx-16 lg:my-8 lg:col-span-3 lg:max-w-none rounded lg:prose-lg prose-a:underline">
      <Content />
    </div>
  </Fragment>
</MainLayout>
