---
import Navbar from "@/components/Navbar.astro";
import Footer from "@/components/Footer.astro";
import BottomBodyScripts from "./BottomBodyScripts.astro";
import TopBodyScripts from "./TopBodyScripts.astro";
import HeadScripts from "./HeadScripts.astro";
import "@fontsource/wellfleet";
import "@fontsource-variable/pixelify-sans";

import wellFleet from "@fontsource/wellfleet/files/wellfleet-latin-400-normal.woff2?url";
import pixelifySans from "@fontsource-variable/pixelify-sans/files/pixelify-sans-latin-wght-normal.woff2?url";
import plankTexture from "@/assets/textures/plank-texture.webp";
import WikiNavigation from "@/components/WikiNavigation.astro";
console.log(Astro.url.pathname);
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preload" href={wellFleet} as="font" type="font/woff2" crossorigin />
    <link rel="preload" href={pixelifySans} as="font" type="font/woff2" crossorigin />
    <HeadScripts />
    <slot name="additional-head-content" />
  </head>
  <body
    class="bg-cu-background text-cu-text font-body bg-blend-soft-light"
    style={{
      backgroundImage: `url(${plankTexture.src})`,
      backgroundSize: "5rem 5rem",
    }}
  >
    <TopBodyScripts />

    {
      () => {
        if (Astro.url.pathname === "/") {
          return (
            <Fragment>
              <Navbar />
              <slot name="body-content" />
            </Fragment>
          );
        } else if (Astro.url.pathname.includes("/wiki")) {
          return (
            <main class=" grid lg:grid-cols-4">
              <WikiNavigation />
              <slot name="body-content" />
            </main>
          );
        }
      }
    }

    <Footer />
    <BottomBodyScripts />
  </body>
</html>
